nav {
  background-color: #2b2b2b;
}
.jumbotron {
  padding-top: 3rem;
  background-color: #f7f7f7ee;
}
#projects {
  background-color: #f7f7f7ee;
}
#contact {
  background-color: white;
}
footer {
  padding-bottom: 20px;
  background-color: #2b2b2b;
}

section {
  padding-top: 5rem;
}
